<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[MP] Home Assistant Usage</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>[MP] Home Assistant Usage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1078b76f0b1e480b8014e5da5c05a416.png" alt="[MP] Home Assistant Usage" usemap="#id-1078b76f0b1e480b8014e5da5c05a416map"/>
			   <map name="id-1078b76f0b1e480b8014e5da5c05a416map">
				  		<area shape="rect" coords="526,790,646,845" href="../elements/id-148c13cc64b64e08ab8012addcc3d136.html"  target="element">
				  		<area shape="rect" coords="826,826,946,881" href="../elements/id-15094ca0c749475c9439e127a836e223.html"  target="element">
				  		<area shape="rect" coords="82,478,202,533" href="../elements/id-74ed460b16804094a9cb6c994607d241.html"  target="element">
				  		<area shape="rect" coords="70,382,190,437" href="../elements/id-002a98292a244ed8990f6bd7a2c17dda.html"  target="element">
				  		<area shape="rect" coords="10,82,418,202" href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html"  target="element">
				  				<area shape="rect" coords="1018,610,1138,665" href="../elements/id-c59594f9e9e34c27937e9c0dce3414c4.html"  target="element">
				  								<area shape="rect" coords="1402,490,1522,545" href="../elements/id-3d49171c0a3240f0939f8b98b3a0e1c6.html"  target="element">
				  								<area shape="rect" coords="1402,418,1522,473" href="../elements/id-eea016c347c847439db42dfa5eec99ba.html"  target="element">
				  								<area shape="rect" coords="1402,346,1522,401" href="../elements/id-815aeaf822ff4ef18887ef6cbd867443.html"  target="element">
				  								<area shape="rect" coords="1402,274,1522,329" href="../elements/id-0a514706263c440fa920fcecab48f8fd.html"  target="element">
				  								<area shape="rect" coords="1402,214,1522,269" href="../elements/id-292c68212b6b426197cca58c2e26a0ca.html"  target="element">

				  						<area shape="rect" coords="1342,166,1678,550" href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html"  target="element">
				  								<area shape="rect" coords="670,358,790,413" href="../elements/id-346dbdaaa091446b986e31f8e64ed50b.html"  target="element">
				  								<area shape="rect" coords="682,430,802,485" href="../elements/id-3b533b4d9637421ca6fba66f2e5408b4.html"  target="element">
				  								<area shape="rect" coords="886,406,1006,461" href="../elements/id-4ce93ab5847d40b195fc15b114d8420f.html"  target="element">
				  								<area shape="rect" coords="862,346,982,401" href="../elements/id-3bfb6075a3af4f5db3b6463ba2987f5e.html"  target="element">
				  								<area shape="rect" coords="670,274,790,329" href="../elements/id-a94497892c124e2d9274e7d21acdb83b.html"  target="element">
				  								<area shape="rect" coords="838,262,958,317" href="../elements/id-2ba286327d63485b947457e02c2df4d8.html"  target="element">
				  								<area shape="rect" coords="838,190,958,245" href="../elements/id-e55960688efd4734bc9426c60decce80.html"  target="element">
				  								<area shape="rect" coords="682,178,802,233" href="../elements/id-308289e73df24537a143c17e9fe03089.html"  target="element">

				  						<area shape="rect" coords="598,154,1078,502" href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html"  target="element">

				  				<area shape="rect" coords="574,106,1715,575" href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html"  target="element">

				  		<area shape="rect" coords="514,10,1750,733" href="../elements/id-32e5016a496949288faeda02db3f5e8c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element"> Home Assistant </a> </td>
											    <td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html" target="element"> Home Assistant Core </a> </td>
													    <td> <a href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
															    <td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-308289e73df24537a143c17e9fe03089.html" target="element"> Time </a> </td>
																	    <td> <a href="../elements/id-308289e73df24537a143c17e9fe03089.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-e55960688efd4734bc9426c60decce80.html" target="element"> Google Cast </a> </td>
																	    <td> <a href="../elements/id-e55960688efd4734bc9426c60decce80.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-2ba286327d63485b947457e02c2df4d8.html" target="element"> met.no </a> </td>
																	    <td> <a href="../elements/id-2ba286327d63485b947457e02c2df4d8.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-a94497892c124e2d9274e7d21acdb83b.html" target="element"> system monitor </a> </td>
																	    <td> <a href="../elements/id-a94497892c124e2d9274e7d21acdb83b.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3bfb6075a3af4f5db3b6463ba2987f5e.html" target="element"> speedtest </a> </td>
																	    <td> <a href="../elements/id-3bfb6075a3af4f5db3b6463ba2987f5e.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4ce93ab5847d40b195fc15b114d8420f.html" target="element"> generic mp4 </a> </td>
																	    <td> <a href="../elements/id-4ce93ab5847d40b195fc15b114d8420f.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3b533b4d9637421ca6fba66f2e5408b4.html" target="element"> Tuya integration </a> </td>
																	    <td> <a href="../elements/id-3b533b4d9637421ca6fba66f2e5408b4.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-346dbdaaa091446b986e31f8e64ed50b.html" target="element"> Glances integration </a> </td>
																	    <td> <a href="../elements/id-346dbdaaa091446b986e31f8e64ed50b.html" target="element" class="i18n-elementtype-ApplicationInteraction">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
															    <td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-292c68212b6b426197cca58c2e26a0ca.html" target="element"> Arriving home </a> </td>
																	    <td> <a href="../elements/id-292c68212b6b426197cca58c2e26a0ca.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0a514706263c440fa920fcecab48f8fd.html" target="element"> Arriving home at night </a> </td>
																	    <td> <a href="../elements/id-0a514706263c440fa920fcecab48f8fd.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-815aeaf822ff4ef18887ef6cbd867443.html" target="element"> Arriving home when it's hot </a> </td>
																	    <td> <a href="../elements/id-815aeaf822ff4ef18887ef6cbd867443.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-eea016c347c847439db42dfa5eec99ba.html" target="element"> Leaving home </a> </td>
																	    <td> <a href="../elements/id-eea016c347c847439db42dfa5eec99ba.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3d49171c0a3240f0939f8b98b3a0e1c6.html" target="element"> Went live on twitch </a> </td>
																	    <td> <a href="../elements/id-3d49171c0a3240f0939f8b98b3a0e1c6.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-c59594f9e9e34c27937e9c0dce3414c4.html" target="element"> Lovelace </a> </td>
													    <td> <a href="../elements/id-c59594f9e9e34c27937e9c0dce3414c4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html" target="element"> Google Assistant </a> </td>
											    <td> <a href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-002a98292a244ed8990f6bd7a2c17dda.html" target="element"> Glances server </a> </td>
											    <td> <a href="../elements/id-002a98292a244ed8990f6bd7a2c17dda.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74ed460b16804094a9cb6c994607d241.html" target="element"> WebOs </a> </td>
											    <td> <a href="../elements/id-74ed460b16804094a9cb6c994607d241.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15094ca0c749475c9439e127a836e223.html" target="element"> Camera web server </a> </td>
											    <td> <a href="../elements/id-15094ca0c749475c9439e127a836e223.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-148c13cc64b64e08ab8012addcc3d136.html" target="element"> Tuya developer IOT </a> </td>
											    <td> <a href="../elements/id-148c13cc64b64e08ab8012addcc3d136.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d920314c717c4c2ebaa85fa272d711a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d920314c717c4c2ebaa85fa272d711a1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-c59594f9e9e34c27937e9c0dce3414c4.html" target="element"> Lovelace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d5cce157c724697b9fb747d4df88c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d5cce157c724697b9fb747d4df88c7d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html" target="element"> Home Assistant Core </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5ed80a17e5b1447195a44634b0460348.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ed80a17e5b1447195a44634b0460348.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html" target="element"> Home Assistant Core </a> </td>
																				<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-837f9b846c0248439030b3b98e2aa60c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-837f9b846c0248439030b3b98e2aa60c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0b8ff64733cb46638e04aa68d6b1c523.html" target="element"> Home Assistant Core </a> </td>
																				<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-5aaa98b0d84749bab964793885504215.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5aaa98b0d84749bab964793885504215.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-308289e73df24537a143c17e9fe03089.html" target="element"> Time </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-bff0385ed75f48b7899d22f8a49aa8b5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bff0385ed75f48b7899d22f8a49aa8b5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-e55960688efd4734bc9426c60decce80.html" target="element"> Google Cast </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-53100e06fe2342ea975f4b6750bfc94f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-53100e06fe2342ea975f4b6750bfc94f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-2ba286327d63485b947457e02c2df4d8.html" target="element"> met.no </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0255b8687a934b2dbf7571f04f7cd191.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0255b8687a934b2dbf7571f04f7cd191.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-a94497892c124e2d9274e7d21acdb83b.html" target="element"> system monitor </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1531d125e36b436e80e06c06d574151d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1531d125e36b436e80e06c06d574151d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-3bfb6075a3af4f5db3b6463ba2987f5e.html" target="element"> speedtest </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-940fc28e93ff483f964ed6c31216d909.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-940fc28e93ff483f964ed6c31216d909.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-4ce93ab5847d40b195fc15b114d8420f.html" target="element"> generic mp4 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b052e51b255c49b89253df2bb8933e13.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b052e51b255c49b89253df2bb8933e13.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-3b533b4d9637421ca6fba66f2e5408b4.html" target="element"> Tuya integration </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-a96bbe5169b140ff89abfa3dd7b4a2e1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a96bbe5169b140ff89abfa3dd7b4a2e1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																						<td> <a href="../elements/id-346dbdaaa091446b986e31f8e64ed50b.html" target="element"> Glances integration </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-37f518b6efc14c8e938e25f31669e1a5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-37f518b6efc14c8e938e25f31669e1a5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																						<td> <a href="../elements/id-292c68212b6b426197cca58c2e26a0ca.html" target="element"> Arriving home </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-48e5542bf02d4b518208c511c8acc1c3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-48e5542bf02d4b518208c511c8acc1c3.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																						<td> <a href="../elements/id-0a514706263c440fa920fcecab48f8fd.html" target="element"> Arriving home at night </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-af42dc498c4e423480fa2f52293e1b7f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-af42dc498c4e423480fa2f52293e1b7f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																						<td> <a href="../elements/id-815aeaf822ff4ef18887ef6cbd867443.html" target="element"> Arriving home when it's hot </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-10e5a9c5ea1b40069e4b1cd037638bc1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-10e5a9c5ea1b40069e4b1cd037638bc1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																						<td> <a href="../elements/id-eea016c347c847439db42dfa5eec99ba.html" target="element"> Leaving home </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9b4502e42dbc4b529e78c4f63c993115.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9b4502e42dbc4b529e78c4f63c993115.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4ef6db4bb746f6aa706cdae831de85.html" target="element"> Automations </a> </td>
																						<td> <a href="../elements/id-3d49171c0a3240f0939f8b98b3a0e1c6.html" target="element"> Went live on twitch </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-c0d89091a46f4e71b242e88b910190eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0d89091a46f4e71b242e88b910190eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-002a98292a244ed8990f6bd7a2c17dda.html" target="element"> Glances server </a> </td>
																		<td> <a href="../elements/id-346dbdaaa091446b986e31f8e64ed50b.html" target="element"> Glances integration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-103701eeed20446b837f5ee35528aee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-103701eeed20446b837f5ee35528aee6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74ed460b16804094a9cb6c994607d241.html" target="element"> WebOs </a> </td>
																		<td> <a href="../elements/id-3db2b558d1f34801809f878e619e4cc0.html" target="element"> Integrations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2824c41a9fc34d24a9ab341f2ee0ebfb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2824c41a9fc34d24a9ab341f2ee0ebfb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15094ca0c749475c9439e127a836e223.html" target="element"> Camera web server </a> </td>
																		<td> <a href="../elements/id-4ce93ab5847d40b195fc15b114d8420f.html" target="element"> generic mp4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2223cccf2eb4efc87760476a9cd05f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2223cccf2eb4efc87760476a9cd05f1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-148c13cc64b64e08ab8012addcc3d136.html" target="element"> Tuya developer IOT </a> </td>
																		<td> <a href="../elements/id-3b533b4d9637421ca6fba66f2e5408b4.html" target="element"> Tuya integration </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>