<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[MP] Layered Services</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>[MP] Layered Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8fda3fbc2c5342b8ad6c20ba261b4d0b.png" alt="[MP] Layered Services" usemap="#id-8fda3fbc2c5342b8ad6c20ba261b4d0bmap"/>
			   <map name="id-8fda3fbc2c5342b8ad6c20ba261b4d0bmap">
				  		<area shape="rect" coords="1159,528,1279,585" href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html"  target="element">
				  		<area shape="rect" coords="736,220,940,340" href="../elements/id-a1a02630f9b149aa998aea01898a6ccc.html"  target="element">
				  		<area shape="rect" coords="1079,208,1391,352" href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html"  target="element">
				  		<area shape="rect" coords="526,430,646,482" href="../elements/id-ae82aa7ab7244b859ae4b14fee9b9239.html"  target="element">
				  		<area shape="rect" coords="498,562,658,630" href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html"  target="element">
				  		<area shape="rect" coords="1159,393,1311,486" href="../elements/id-bf351e09dcde4e95bb124402b1332956.html"  target="element">
				  		<area shape="rect" coords="778,426,898,486" href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html"  target="element">
				  		<area shape="rect" coords="10,208,538,387" href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html"  target="element">
				  		<area shape="rect" coords="274,430,394,482" href="../elements/id-ce7ac969f7c14fa9932c982cc065abb6.html"  target="element">
				  		<area shape="rect" coords="10,10,1391,130" href="../elements/id-f537581417a34c168b31c83ee4868a16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Shows how Malibu-Point services interact with each other to provide the desired Home Automation functionality.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f537581417a34c168b31c83ee4868a16.html" target="element"> MEEEEE :3 </a> </td>
											    <td> <a href="../elements/id-f537581417a34c168b31c83ee4868a16.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce7ac969f7c14fa9932c982cc065abb6.html" target="element"> Mobile App </a> </td>
											    <td> <a href="../elements/id-ce7ac969f7c14fa9932c982cc065abb6.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html" target="element"> IoT Dashboard </a> </td>
											    <td> <a href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element"> IoT Hub </a> </td>
											    <td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf351e09dcde4e95bb124402b1332956.html" target="element"> Voice Assistant </a> </td>
											    <td> <a href="../elements/id-bf351e09dcde4e95bb124402b1332956.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html" target="element"> Home Assistant </a> </td>
											    <td> <a href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae82aa7ab7244b859ae4b14fee9b9239.html" target="element"> Website </a> </td>
											    <td> <a href="../elements/id-ae82aa7ab7244b859ae4b14fee9b9239.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html" target="element"> Virtual Assistant </a> </td>
											    <td> <a href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1a02630f9b149aa998aea01898a6ccc.html" target="element"> Home Automation </a> </td>
											    <td> <a href="../elements/id-a1a02630f9b149aa998aea01898a6ccc.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html" target="element"> Google Assistant </a> </td>
											    <td> <a href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-072ab90cdd754ad7a280ef4506989d00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-072ab90cdd754ad7a280ef4506989d00.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7ac969f7c14fa9932c982cc065abb6.html" target="element"> Mobile App </a> </td>
																		<td> <a href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html" target="element"> IoT Dashboard </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8fd0d6c3505f4cb48402cd24440aba84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fd0d6c3505f4cb48402cd24440aba84.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html" target="element"> IoT Dashboard </a> </td>
																		<td> <a href="../elements/id-f537581417a34c168b31c83ee4868a16.html" target="element"> MEEEEE :3 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e93536bad91d4a29a882e3b3f4b623ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e93536bad91d4a29a882e3b3f4b623ac.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element"> IoT Hub </a> </td>
																		<td> <a href="../elements/id-f2e759791a1b43538bf9f8b968b79b88.html" target="element"> IoT Dashboard </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2aaf94c1a1274057b5b1598520c07094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aaf94c1a1274057b5b1598520c07094.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element"> IoT Hub </a> </td>
																		<td> <a href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html" target="element"> Virtual Assistant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd1c6484fdbf4808a9555acf8444b170.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd1c6484fdbf4808a9555acf8444b170.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element"> IoT Hub </a> </td>
																		<td> <a href="../elements/id-a1a02630f9b149aa998aea01898a6ccc.html" target="element"> Home Automation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e3762ee8c14435d92587963a90bd7f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e3762ee8c14435d92587963a90bd7f4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf351e09dcde4e95bb124402b1332956.html" target="element"> Voice Assistant </a> </td>
																		<td> <a href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html" target="element"> Virtual Assistant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5189a2c90d83405a9a62faf21db94ef5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5189a2c90d83405a9a62faf21db94ef5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-ce7ac969f7c14fa9932c982cc065abb6.html" target="element"> Mobile App </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-757720d03a0649e3870e539e39625493.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-757720d03a0649e3870e539e39625493.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-e62dc6b31a1c4549b3ec923c5d037641.html" target="element"> IoT Hub </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-821d18c4010c42178c05d45a382c9301.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-821d18c4010c42178c05d45a382c9301.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73570d4bdb4f4771860cfea3e30437c1.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-ae82aa7ab7244b859ae4b14fee9b9239.html" target="element"> Website </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2f07acb7d534415b2485b5a4fe7f62d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2f07acb7d534415b2485b5a4fe7f62d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33aa1f0f5b684580b0f2ee328ec6af94.html" target="element"> Virtual Assistant </a> </td>
																		<td> <a href="../elements/id-f537581417a34c168b31c83ee4868a16.html" target="element"> MEEEEE :3 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-902d9d7aa17a449f88b8578b45b550a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-902d9d7aa17a449f88b8578b45b550a2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1a02630f9b149aa998aea01898a6ccc.html" target="element"> Home Automation </a> </td>
																		<td> <a href="../elements/id-f537581417a34c168b31c83ee4868a16.html" target="element"> MEEEEE :3 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e736cd6ef25d4995943825791af05c55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e736cd6ef25d4995943825791af05c55.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67167cafb9b44f679c9efa45ca699ca8.html" target="element"> Google Assistant </a> </td>
																		<td> <a href="../elements/id-bf351e09dcde4e95bb124402b1332956.html" target="element"> Voice Assistant </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>