<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[ZW] Capability Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>[ZW] Capability Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-outcome_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_outcome_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-acbfcf14e3b04082ac3365be67bfd239.png" alt="[ZW] Capability Realization" usemap="#id-acbfcf14e3b04082ac3365be67bfd239map"/>
			   <map name="id-acbfcf14e3b04082ac3365be67bfd239map">
				  		<area shape="rect" coords="522,428,642,483" href="../elements/id-d3909ebdea0c4e98bb015762ed07d224.html"  target="element">
				  		<area shape="rect" coords="582,321,702,376" href="../elements/id-323de24aa48246a3b1c60eb5335f75ab.html"  target="element">
				  		<area shape="rect" coords="582,249,702,304" href="../elements/id-a0a9788d908f47d68d6ded27853a1502.html"  target="element">
				  		<area shape="rect" coords="501,129,621,184" href="../elements/id-3bcdb0cb6d044b99a8b75bf249b821aa.html"  target="element">
				  		<area shape="rect" coords="501,51,621,106" href="../elements/id-93a073cb43884c91aaeb793532a7f7c3.html"  target="element">
				  		<area shape="rect" coords="20,482,140,537" href="../elements/id-97aec897bd2f458896054c63c6a5b220.html"  target="element">
				  		<area shape="rect" coords="19,402,139,457" href="../elements/id-32e5016a496949288faeda02db3f5e8c.html"  target="element">
				  		<area shape="rect" coords="20,318,140,373" href="../elements/id-9c2db3639ac84e4c997d15142b40240c.html"  target="element">
				  		<area shape="rect" coords="10,226,131,279" href="../elements/id-5da13d77b8904d34874064dbae7bc2ec.html"  target="element">
				  		<area shape="rect" coords="10,137,130,192" href="../elements/id-8fb2de48fe8d45d9bdf8c0b46637f51f.html"  target="element">
				  		<area shape="rect" coords="21,59,141,114" href="../elements/id-e3d6fa23818342d3be43bf9c4490a235.html"  target="element">
				  		<area shape="rect" coords="169,10,383,546" href="../elements/id-ed28274caed441328fec57a92ffc03ec.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Shows what main components realize the zoo-web capability.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> author </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Frost</xmp> </td></tr><tr><td> version </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">1.0</xmp> </td></tr><tr><td> status </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">draft</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
											    <td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3d6fa23818342d3be43bf9c4490a235.html" target="element"> DokuWiki </a> </td>
											    <td> <a href="../elements/id-e3d6fa23818342d3be43bf9c4490a235.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fb2de48fe8d45d9bdf8c0b46637f51f.html" target="element"> Cloudflare </a> </td>
											    <td> <a href="../elements/id-8fb2de48fe8d45d9bdf8c0b46637f51f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Web Server)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5da13d77b8904d34874064dbae7bc2ec.html" target="element"> Apache </a> </td>
											    <td> <a href="../elements/id-5da13d77b8904d34874064dbae7bc2ec.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Web Server)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c2db3639ac84e4c997d15142b40240c.html" target="element"> Teahouse </a> </td>
											    <td> <a href="../elements/id-9c2db3639ac84e4c997d15142b40240c.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element"> Home Assistant </a> </td>
											    <td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97aec897bd2f458896054c63c6a5b220.html" target="element"> Portfolio </a> </td>
											    <td> <a href="../elements/id-97aec897bd2f458896054c63c6a5b220.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93a073cb43884c91aaeb793532a7f7c3.html" target="element"> Hyaena Web Terminal </a> </td>
											    <td> <a href="../elements/id-93a073cb43884c91aaeb793532a7f7c3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bcdb0cb6d044b99a8b75bf249b821aa.html" target="element"> Panthera Web Terminal </a> </td>
											    <td> <a href="../elements/id-3bcdb0cb6d044b99a8b75bf249b821aa.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0a9788d908f47d68d6ded27853a1502.html" target="element"> Zoo ArchiMate documentation </a> </td>
											    <td> <a href="../elements/id-a0a9788d908f47d68d6ded27853a1502.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-323de24aa48246a3b1c60eb5335f75ab.html" target="element"> G.I.N.G.E.R. documentation </a> </td>
											    <td> <a href="../elements/id-323de24aa48246a3b1c60eb5335f75ab.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d3909ebdea0c4e98bb015762ed07d224.html" target="element"> Launchpad </a> </td>
											    <td> <a href="../elements/id-d3909ebdea0c4e98bb015762ed07d224.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Website)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7ac830c0404f49bda62a59fba32aa80e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ac830c0404f49bda62a59fba32aa80e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3d6fa23818342d3be43bf9c4490a235.html" target="element"> DokuWiki </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bcda454c155c4f9fa57e772737f5556c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcda454c155c4f9fa57e772737f5556c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8fb2de48fe8d45d9bdf8c0b46637f51f.html" target="element"> Cloudflare </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1f6b18bf878746438a75b4e2c939b386.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f6b18bf878746438a75b4e2c939b386.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da13d77b8904d34874064dbae7bc2ec.html" target="element"> Apache </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2cbb3250a8964f26ac6a9e649718e65e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cbb3250a8964f26ac6a9e649718e65e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c2db3639ac84e4c997d15142b40240c.html" target="element"> Teahouse </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5106e84d96a74741b82aad02617c2573.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5106e84d96a74741b82aad02617c2573.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32e5016a496949288faeda02db3f5e8c.html" target="element"> Home Assistant </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e41ddb4d75bc499a91127bb98f8ae277.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e41ddb4d75bc499a91127bb98f8ae277.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97aec897bd2f458896054c63c6a5b220.html" target="element"> Portfolio </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d286360a31b4562b78b6f93a7c11568.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d286360a31b4562b78b6f93a7c11568.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93a073cb43884c91aaeb793532a7f7c3.html" target="element"> Hyaena Web Terminal </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd4f0ddbe0614123a5265152b770db22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd4f0ddbe0614123a5265152b770db22.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bcdb0cb6d044b99a8b75bf249b821aa.html" target="element"> Panthera Web Terminal </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b32ed617657148579f42c6f77ac589ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b32ed617657148579f42c6f77ac589ce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0a9788d908f47d68d6ded27853a1502.html" target="element"> Zoo ArchiMate documentation </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e0a9a1b728a4b37a4d1b58369707b02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e0a9a1b728a4b37a4d1b58369707b02.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-323de24aa48246a3b1c60eb5335f75ab.html" target="element"> G.I.N.G.E.R. documentation </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b24ad82b09054b4880aeef8f4111e08b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b24ad82b09054b4880aeef8f4111e08b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3909ebdea0c4e98bb015762ed07d224.html" target="element"> Launchpad </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>