<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>[GE] Capability Realization</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>[GE] Capability Realization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bf0a749871134e57b14b1767b0d02756.png" alt="[GE] Capability Realization" usemap="#id-bf0a749871134e57b14b1767b0d02756map"/>
			   <map name="id-bf0a749871134e57b14b1767b0d02756map">
				  				<area shape="rect" coords="30,36,196,86" href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html"  target="element">
				  				<area shape="rect" coords="214,18,334,73" href="../elements/id-d4f2091a64894c7590aaec07f627b49e.html"  target="element">
				  				<area shape="rect" coords="271,43,391,98" href="../elements/id-b5b678a78bfc44dc8c1623c08fd38a40.html"  target="element">
				  				<area shape="rect" coords="271,97,391,152" href="../elements/id-f59c645a444840dd9934160b539f3e32.html"  target="element">

				  		<area shape="rect" coords="10,10,418,166" href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
											    <td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f59c645a444840dd9934160b539f3e32.html" target="element"> Zoo-ArchiMate </a> </td>
													    <td> <a href="../elements/id-f59c645a444840dd9934160b539f3e32.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5b678a78bfc44dc8c1623c08fd38a40.html" target="element"> GitHub Boards </a> </td>
													    <td> <a href="../elements/id-b5b678a78bfc44dc8c1623c08fd38a40.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4f2091a64894c7590aaec07f627b49e.html" target="element"> G.I.N.G.E.R. </a> </td>
													    <td> <a href="../elements/id-d4f2091a64894c7590aaec07f627b49e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element"> Have a project roadmap </a> </td>
													    <td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0de31f5810cd472f8c6ec66a433dce0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0de31f5810cd472f8c6ec66a433dce0c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																		<td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element"> Have a project roadmap </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b7164555c7d74a8a8903b97acdf32118.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7164555c7d74a8a8903b97acdf32118.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f59c645a444840dd9934160b539f3e32.html" target="element"> Zoo-ArchiMate </a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9ec8ac6df30f47d3ae0a01dabb70cbb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ec8ac6df30f47d3ae0a01dabb70cbb9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b5b678a78bfc44dc8c1623c08fd38a40.html" target="element"> GitHub Boards </a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e9479bd65d64478e879b7600120a0275.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9479bd65d64478e879b7600120a0275.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4f2091a64894c7590aaec07f627b49e.html" target="element"> G.I.N.G.E.R. </a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>