<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Capabilities</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Capabilities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-capability"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_capability" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e90cc35554ef4f7987b6ed1622b6867a.png" alt="Capabilities" usemap="#id-e90cc35554ef4f7987b6ed1622b6867amap"/>
			   <map name="id-e90cc35554ef4f7987b6ed1622b6867amap">
				  						<area shape="rect" coords="581,440,747,500" href="../elements/id-cd831ade23544200a8cca16c2d00be23.html"  target="element">

				  				<area shape="rect" coords="560,421,1085,596" href="../elements/id-2380301f40c14f48b0bda7367a1fa32c.html"  target="element">
				  						<area shape="rect" coords="235,522,355,577" href="../elements/id-8ded94a0953a481a92756a1ed13b4c5e.html"  target="element">
				  						<area shape="rect" coords="202,449,368,509" href="../elements/id-c4aeaa769f5f4334b17304d49e749221.html"  target="element">
				  						<area shape="rect" coords="29,449,195,509" href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html"  target="element">

				  				<area shape="rect" coords="25,421,544,596" href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html"  target="element">
				  						<area shape="rect" coords="743,250,909,310" href="../elements/id-000699c22b7f441b937070aeba3ca1db.html"  target="element">
				  						<area shape="rect" coords="572,250,738,310" href="../elements/id-3d42bb225b0d4179946da16253d47593.html"  target="element">

				  				<area shape="rect" coords="560,227,1085,403" href="../elements/id-d1260e5b98c1407e817e79ed48597770.html"  target="element">
				  						<area shape="rect" coords="243,318,409,368" href="../elements/id-1c2f42909df44163b95ccf05f62f172c.html"  target="element">
				  						<area shape="rect" coords="243,258,409,308" href="../elements/id-d87bb700e5c348aea61727bfae643b1d.html"  target="element">
				  						<area shape="rect" coords="83,315,203,370" href="../elements/id-4c15294be05048c9b48ac7ce31857795.html"  target="element">
				  						<area shape="rect" coords="83,255,203,310" href="../elements/id-87fb8fc7c959458e8eb261629ef2afbd.html"  target="element">

				  				<area shape="rect" coords="25,227,544,403" href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html"  target="element">
				  						<area shape="rect" coords="587,128,753,178" href="../elements/id-f69f6f46dd2e486db03ae65dfea6d721.html"  target="element">
				  						<area shape="rect" coords="587,64,753,114" href="../elements/id-846ff639e98b4a7c80c5207c670c6624.html"  target="element">

				  				<area shape="rect" coords="560,31,1078,207" href="../elements/id-206f26f8d876421faa58e4eef70fd753.html"  target="element">
				  						<area shape="rect" coords="219,72,385,122" href="../elements/id-15328e94db6a41c899ea4498af436329.html"  target="element">
				  						<area shape="rect" coords="44,72,210,122" href="../elements/id-4a99352256654d95b46cb357b692c249.html"  target="element">

				  				<area shape="rect" coords="25,37,544,214" href="../elements/id-ed28274caed441328fec57a92ffc03ec.html"  target="element">

				  		<area shape="rect" coords="10,10,1099,619" href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Outlines the capabilities of Zoo.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>author</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Frost</td></tr><tr><td>version</td><td class="convertlinks no-margin" style="white-space:pre-wrap">1.1</td></tr><tr><td>status</td><td class="convertlinks no-margin" style="white-space:pre-wrap">draft</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
											    <td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
													    <td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4a99352256654d95b46cb357b692c249.html" target="element"> Able to host custom public websites  </a> </td>
															    <td> <a href="../elements/id-4a99352256654d95b46cb357b692c249.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-15328e94db6a41c899ea4498af436329.html" target="element"> Have own domain names </a> </td>
															    <td> <a href="../elements/id-15328e94db6a41c899ea4498af436329.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-206f26f8d876421faa58e4eef70fd753.html" target="element"> Home Automation </a> </td>
													    <td> <a href="../elements/id-206f26f8d876421faa58e4eef70fd753.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-846ff639e98b4a7c80c5207c670c6624.html" target="element"> Maintain a cutting edge virtual assistant </a> </td>
															    <td> <a href="../elements/id-846ff639e98b4a7c80c5207c670c6624.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f69f6f46dd2e486db03ae65dfea6d721.html" target="element"> Automate my home </a> </td>
															    <td> <a href="../elements/id-f69f6f46dd2e486db03ae65dfea6d721.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html" target="element"> Digital Entertainment </a> </td>
													    <td> <a href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-87fb8fc7c959458e8eb261629ef2afbd.html" target="element"> VLC </a> </td>
															    <td> <a href="../elements/id-87fb8fc7c959458e8eb261629ef2afbd.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4c15294be05048c9b48ac7ce31857795.html" target="element"> retropie </a> </td>
															    <td> <a href="../elements/id-4c15294be05048c9b48ac7ce31857795.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d87bb700e5c348aea61727bfae643b1d.html" target="element"> Able to play to retro video games </a> </td>
															    <td> <a href="../elements/id-d87bb700e5c348aea61727bfae643b1d.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c2f42909df44163b95ccf05f62f172c.html" target="element"> Able to play DVDs </a> </td>
															    <td> <a href="../elements/id-1c2f42909df44163b95ccf05f62f172c.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d1260e5b98c1407e817e79ed48597770.html" target="element"> Infrastructural Support </a> </td>
													    <td> <a href="../elements/id-d1260e5b98c1407e817e79ed48597770.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3d42bb225b0d4179946da16253d47593.html" target="element"> Have a networking home-lab </a> </td>
															    <td> <a href="../elements/id-3d42bb225b0d4179946da16253d47593.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-000699c22b7f441b937070aeba3ca1db.html" target="element"> Performant internet access </a> </td>
															    <td> <a href="../elements/id-000699c22b7f441b937070aeba3ca1db.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
													    <td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element"> Have a project roadmap </a> </td>
															    <td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c4aeaa769f5f4334b17304d49e749221.html" target="element"> Have a maintable enterprise architecture </a> </td>
															    <td> <a href="../elements/id-c4aeaa769f5f4334b17304d49e749221.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8ded94a0953a481a92756a1ed13b4c5e.html" target="element"> Custom application development </a> </td>
															    <td> <a href="../elements/id-8ded94a0953a481a92756a1ed13b4c5e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2380301f40c14f48b0bda7367a1fa32c.html" target="element"> Information Security Management </a> </td>
													    <td> <a href="../elements/id-2380301f40c14f48b0bda7367a1fa32c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cd831ade23544200a8cca16c2d00be23.html" target="element"> Secure network infrastructure </a> </td>
															    <td> <a href="../elements/id-cd831ade23544200a8cca16c2d00be23.html" target="element" class="i18n-elementtype-Outcome">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-416cfa7beffb4706b02b66f5bca00b5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-416cfa7beffb4706b02b66f5bca00b5f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
																		<td> <a href="../elements/id-206f26f8d876421faa58e4eef70fd753.html" target="element"> Home Automation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61aa41bd97d44abfa3d2c891732f13fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61aa41bd97d44abfa3d2c891732f13fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
																		<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6fbc82be729245e296f6d368caedd6c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fbc82be729245e296f6d368caedd6c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
																		<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcce6bb6023f4b90a19b43f2085a7061.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcce6bb6023f4b90a19b43f2085a7061.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
																		<td> <a href="../elements/id-d1260e5b98c1407e817e79ed48597770.html" target="element"> Infrastructural Support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-844db547531c4e6cb34521a5368da6dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-844db547531c4e6cb34521a5368da6dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe57c152190c40cea10049a7fe74d23f.html" target="element"> Provide IT Services </a> </td>
																		<td> <a href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html" target="element"> Digital Entertainment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-86c50d694a964baa8f7030e2562e0a47.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86c50d694a964baa8f7030e2562e0a47.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																				<td> <a href="../elements/id-4a99352256654d95b46cb357b692c249.html" target="element"> Able to host custom public websites  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af1c2633bd824e8dbfea1d46a8ca3d90.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af1c2633bd824e8dbfea1d46a8ca3d90.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed28274caed441328fec57a92ffc03ec.html" target="element"> Website Hosting </a> </td>
																				<td> <a href="../elements/id-15328e94db6a41c899ea4498af436329.html" target="element"> Have own domain names </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-660eea57882d471ca4df7d3de7c3d07b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-660eea57882d471ca4df7d3de7c3d07b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-206f26f8d876421faa58e4eef70fd753.html" target="element"> Home Automation </a> </td>
																				<td> <a href="../elements/id-846ff639e98b4a7c80c5207c670c6624.html" target="element"> Maintain a cutting edge virtual assistant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b7cfe0ce3b4439dafbdf1fb12c58a12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b7cfe0ce3b4439dafbdf1fb12c58a12.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-206f26f8d876421faa58e4eef70fd753.html" target="element"> Home Automation </a> </td>
																				<td> <a href="../elements/id-f69f6f46dd2e486db03ae65dfea6d721.html" target="element"> Automate my home </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a0f24fa7fcda4f73b273876b80c0267f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0f24fa7fcda4f73b273876b80c0267f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html" target="element"> Digital Entertainment </a> </td>
																				<td> <a href="../elements/id-d87bb700e5c348aea61727bfae643b1d.html" target="element"> Able to play to retro video games </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-92eda23ff0d343d1a553cab14d59a017.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-92eda23ff0d343d1a553cab14d59a017.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a55cb0a16cc43d08a99f70ba4a03dc4.html" target="element"> Digital Entertainment </a> </td>
																				<td> <a href="../elements/id-1c2f42909df44163b95ccf05f62f172c.html" target="element"> Able to play DVDs </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fded624ec56145edbb10f53ead20afff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fded624ec56145edbb10f53ead20afff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d1260e5b98c1407e817e79ed48597770.html" target="element"> Infrastructural Support </a> </td>
																				<td> <a href="../elements/id-3d42bb225b0d4179946da16253d47593.html" target="element"> Have a networking home-lab </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e7e062e9176c4654aa5d0a2867c726e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7e062e9176c4654aa5d0a2867c726e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d1260e5b98c1407e817e79ed48597770.html" target="element"> Infrastructural Support </a> </td>
																				<td> <a href="../elements/id-000699c22b7f441b937070aeba3ca1db.html" target="element"> Performant internet access </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0de31f5810cd472f8c6ec66a433dce0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0de31f5810cd472f8c6ec66a433dce0c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																				<td> <a href="../elements/id-7849d296b8c34196b0eedbfeeaf98350.html" target="element"> Have a project roadmap </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f4f1820db5154315a802e9e0b93dcbe2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f4f1820db5154315a802e9e0b93dcbe2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																				<td> <a href="../elements/id-c4aeaa769f5f4334b17304d49e749221.html" target="element"> Have a maintable enterprise architecture </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-46d82c71100b486db99f5c8a89b03b4d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46d82c71100b486db99f5c8a89b03b4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b76154aa2d93441ebe4da76fbf8166d9.html" target="element"> Development </a> </td>
																				<td> <a href="../elements/id-8ded94a0953a481a92756a1ed13b4c5e.html" target="element"> Custom application development </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0e65c936e1a24fbd80db3fc2bc35f77e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e65c936e1a24fbd80db3fc2bc35f77e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2380301f40c14f48b0bda7367a1fa32c.html" target="element"> Information Security Management </a> </td>
																				<td> <a href="../elements/id-cd831ade23544200a8cca16c2d00be23.html" target="element"> Secure network infrastructure </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>